* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
}

.messenger_container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

}
.indicator{
    background: rgb(0 150 136 / 70%);
    display: inline-block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 4px;
}


.enter_form {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
}

.enter_form.hide{
    display: none;
}

.enter_input{
    padding: 3px;
}

.enter_btn{
    padding: 10px;
    border-radius: 4px;
    background-color: #009688;
    color: #fff
}

.messenger-wrapper{
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
}

.active-users_wr{
    margin-bottom: 15px;
}

.active-users{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    background-color: #091558;
    padding: 10px;
    border-radius: 4px;
}

.user-item {
    color: #fff;
    background-color: #e91e63;
    padding: 7px;
    border-radius: 4px;
}

.messenger-wrapper.visible {
    display: flex;
}
.messenger-body {
    width: 100%;
}

.messages {
    margin-bottom: 20px;
}  

.message{
    cursor: pointer;
    background-color: #9c27b0;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
}

.message span{
    display: inline-block;
    margin-left: 5px;


}



.messages_inp{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 110px;
 }
 .message_btn{
    color: #fff;
    border-radius: 4px;
    background-color: #009688;
    padding: 10px 20px;
 }